main {
  position: relative;
  background-color: #000;

  background-size: 10%;
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media (min-width: 1300px) {
    background-image:
            url('../../img/predator.png'),
            url('../../img/alien.png');
  }
}