@import "../helpers/variables";

h1, h2, h3, p {
  margin-bottom: 1em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.3em;
}

p {
  font-size: 1.5em;
}

h4 {
  font-size: 2.0em;
}

li {
  font-size: $fontTable;
}

td b {
  font-size: $fontTable * 1.1;
}

.highlight {
  font-size: $fontTable * 2.0;
}

.content-section {
  h3 {
    font-size: $fontSection * 2.0;
  }
  p {
    font-size: $fontSection;
  }
  h4 {
    font-size: $fontSection * 1.5;
  }
}