$fontMain: 'OCR A Std', monospace;
$fontHeader: 'Stencil Std', fantasy;
$fontTable: 1.4em;
$fontSection: 1.4em;

$colorBackground: #000;
$colorMainGrey: #333;
$colorMainGreen: #00cc00;
$colorText: #FFF

